.play-btn {
  /* width: 40px;
  height: 40px; */
  position: relative;
  display: block;
  /* margin: 100px auto; */
}

/* Pulse wave only */
.play-btn::before {
  content: "";
  position: absolute;
  width: 160%;
  height: 160%;
  top: -30%;
  left: -30%;
  border: 5px solid rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  animation: pulse 2s infinite ease-out;
  opacity: 0;
}

@keyframes pulse {
  0% {
    transform: scale(0.6);
    opacity: 1;
  }
  100% {
    transform: scale(1.1);
    opacity: 0;
  }
}
